mixin section
	section.section.fp-auto-height-responsive.text-center
		.section-wrapper
			h2.section-header.mb-0.pt-6= text
			.section-content.p-1.p-md-4
				.section-content-wrapper.container-fluid.h-100.mt-2&attributes(attributes)
					block
