{
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jquery": true
	},
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module",
		"allowImportExportEverywhere": true
  },
	"extends": [
		"eslint:recommended",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"prettier"
	],
	"rules": {
		"prettier/prettier": "error",
		"no-console":"error",
		"semi": "error"
	}
}