.card {
	border-color: $primary !important;
}

.card-img-top {
	width: 100% !important;
	height: 200px !important;
	object-fit: cover;
}

.pets--found.card {
	border-color: $success !important;
}

.pets--found h5 {
	color: $success !important;
}

.pets--found i {
	color: $success;
}
