html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 100px; /* bottom has to be the same as footer height */
}

a,
a:hover {
	color: $primary;
}

i {
	color: $primary;
}

.text-success {
	color: $success !important;
}

.heading-deco {
	width: 100%;
	background-color: $primary;
	height: 2px;
}

@media (max-width: 600px) {
	.heading-deco {
		visibility: hidden;
	}
}
