-
	function normalizeURL(link) {
		if (link.indexOf('://') !== -1) {
			return link;
		}
		var result;
		var domains = ["com", "ru", "io", "net"];
		var ending = link.substring(link.lastIndexOf(".")+1);
		domains.forEach(function(d) {
			if (RegExp(d).test(ending) === true) {
				result = 'http://' + link;
			}
		});
		return result ? result : link;
	}

	function getAllTags(arr) {
		const unique = (value, index, self) => {
		    return self.indexOf(value) === index;
		} 
		return [].concat.apply([], (arr.map(function(a) {
			return a.tags;
		}
		))).filter(unique);
	}