include abstracts/functions.pug
include abstracts/vars.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title NPM scripts starter by Irina Illustrova
		meta(name="description", content="fill it with your project description")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		base(href="/")
		//-Fonts
		link(
			href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Raleway:600,900",
			rel="stylesheet"
		)
		//-Stylesheets
		link(rel="stylesheet", href=`/css/main.css`)
	body
		.wrapper.container-fluid.px-0
			main.main-content.px-2.mr-1.mr-md-4
				.section
					h2 Hello!
					p= text
		script(src=`js/index.js`)
